@import '~normalize.css';
@import 'fonts.css';

body {
  font-family: 'Roboto', sans-serif;
}

.main-title {
  color: blue;
}

.logo {
  width: 100px;
  height: 100px;
  background-image: url('../../assets/photo_2019-07-09_21-00-40.png');
  background-size: contain;
  margin: 10px 10px 10px 12px;
}